.loading-icon {
    font-size: 4rem;
    will-change: transform, rotate;
    animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
